.page-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:900;
    font-size: 70px;
    

    background-color: #ffc31e;
    flex-direction: row;
    justify-content: space-between;
    color: #1b1212;
    padding: 25px 60px;
    margin-bottom: 30px;

    
    
}
body{
    background-color: #FFFFF0;font-variant-caps: 
}

.search{
    /* styling the search input and search button*/
    display: flex;
    justify-content: center;
}

#search-button{

background-color: #ffc31e;
color: #1b1212;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;




}
#search-input{
    color:  #1b1212;
    font-size: 30px;
    border: 5px solid;
    
}
#emoji-container {
    /*styling the container */
    padding: 50px;
    display: grid;
    
    grid-template-columns: auto auto auto auto auto auto ;

    

  }
